:root {
    --About_Title: 35px;
    --About_Para: 12px;
}

.About_Main {
    background-image: linear-gradient(to right top, #0c3870, #004c83, #006196, #0076a6, #008bb5);
    min-height: 100vh;
    color: white;
    padding: 2em 0;
}

.About_Header h1 {
    text-align: center;
    font-size: var(--About_Title);
}

.About_Para {
    font-size: var(--About_Para);
    width: 90vw;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2em;
}

@media (min-width:700px) {
    :root {
        --About_Title: 45px;
        --About_Para: 15px;
    }
}

@media (min-width:1100px) {
    :root {
        --About_Title: 55px;
        --About_Para: 20px;
    }
}