:root {
    --Project_Title: 30px;
    --Project_Description : 20px;
    --Project_Button: 16px;
}

.Projects_Container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3%;
    row-gap: 20px;
}

.Project_Card {
    min-width: 330px;
    width: 30%;
    max-width: 450px;
    background-color: beige;
    border-radius: 20px;
    padding: 1em 1em;
}

.Project_Title {
    font-size: var(--Project_Title);
    padding: .5em 0;
    text-align: center;
}

.Project_Description {
    font-size: var(--Project_Description);
    margin-bottom: 1em;
}

.Project_Buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.Project_Buttons button {
    font-size: var(--Project_Button);
    padding: .5em .7em;
}