:root {
    --Skill_Name: 9px;
    --Skill_Title: 25px;
}

/* content */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(27, 26, 26);
    padding: 1em 0;
}

.FrontEnd{
    background-color: black;
    padding-top: 5em;
}

.Database{
    background-color: black;
}

.Other {
    padding-bottom: 5em;
}

/* labels */

.labels{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.skills-label h3{
    font-size: clamp(25px, 5vw + 1px, 40px);
    font-size: var(--Skill_Title);
}

/* display */

.display{
    width: 100%;
}

/* skills-main */

.skills-main{
    width: 100%;
    margin: 0 auto;
    padding: .7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    width: 24%; 
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill img{
    max-width: 40%;
    border-radius: 10%;
}

.skill p{
    font-size: clamp(8.5px, 1vw,20px);
    font-size: var(--Skill_Name);
    padding: 2% 0%;
}

@media (min-width:700px) {
    :root {
        --Skill_Name: 12px;
        --Skill_Title: 30px;
    }
}

@media (min-width:1100px) {
    :root {
        --Skill_Name: 20px;
        --Skill_Title: 40px;
    }
}